<% content_for :top_content do %>
  
    <% if !user_signed_in? %>

    <div class="jumbotron">
    <div class="container">
      <h1>Welcome to my blogsite!</h1>
      <p>Register to get started.</p>
      <p>
        <%= link_to 'Sign up', new_user_registration_path, class: 'btn btn-primary btn-lg' %>
      </p>
       </div>
  </div>
     <% else %>
     <div class="container">
     
      <% @posts.each do |post|%>
      <div class="card gedf-card">
                    <div class="card-header">
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="d-flex justify-content-between align-items-center">
                                
                                <div class="ml-2">
                                    <div class="h5 m-0">
                                    <p><%= link_to "#{post.user.email}", user_path(post.user.id) %>
                                    
                                    <p></div>
                                    <div class="h7 text-muted">users name</div>
                                     
                                </div>
                            </div>
                            <div>
                                
                            </div>
                        </div>

                    </div>
                    <div class="card-body">
                        <div class="text-muted h7 mb-2"> <i class="fa fa-clock-o"></i><%= post.created_at %></div>
                        <a class="card-link" href="#">
                            <h5 class="card-title"></h5>
                        </a>

                        <p class="card-text">
                            <%= post.description%>
                        </p>
                        <div class="text-muted h7 mb-2"> <i class="fa fa-clock-o"></i><%= post.votes_for.size%> person likes this</div>
                    </div>
                    <div class="card-footer">

                    <% if (current_user.voted_for? post ) %> 
                          <i class="fa fa-gittip"><%= link_to "Unlike", unlike_post_path(id: post.id), method: post,  class: "card-link" %> </i>
                          <% else %>
                    <i class="fa fa-gittip"><%= link_to "Like", like_post_path(id: post.id), method: post, class: "card-link" %> </i> 
                      <% end %>   
                    
                    
                        
                
                       
                    </div>
                    
                </div>
                <br>

  
  
<% end %>
</div>  
<% end %>
   
<% end %>


